/* ///////////////////////////////////////// fonts */
/* 書体 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900");

/* ///////////////////////////////////////// #container */
#container {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas:
        "header header"
        "aside markdown"
        "footer footer";
  column-gap: 20px;
  width: 95%;
  margin: 0px auto;
}

/* ///////////////////////////////////////// header */
.header {
  grid-area: header;
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: flex-start;
  padding-bottom: 1em;
  height: 60px;
  border-bottom: solid 5px rgba(245, 106, 106, 1);
}

.header > * {
  flex-grow: 1;
  margin-bottom: 0;
}

/* logo */
.header .logo {
  border-bottom: 0;
  color: inherit;
  font-family: "Roboto Slab", serif;
  font-size: 1.125em; 
}

/* icon */
.icon {
  text-align: right;
}
/* originはリスト構造になっていたが、
tagづけを試しにanchorでやっている。 */
a.fab {
  margin-left: 10px;
  color: inherit;
}

/* ///////////////////////////////////////// aside */

.aside {
  grid-area: aside;
}

/* ///////////////////////////////////////// Markdown */
.markdown {
  grid-area: markdown;
}

/* ///////////////////////////////////////// footer */
.footer {
  grid-area: footer;
}










textarea {
  font-size: 1.1em;
}
